{% extends '_layouts/master' %}
{% set bodyClass = 'home' %}

{% set preview = {
        mode: 'crop',
        format: 'webp',
        width: 768,
        height: 'auto',
        quality: 80,
    } %}

{% set mobile = {
        mode: 'crop',
        format: 'webp',
        width: 768,
        height: 'auto',
        quality: 100,
    } %}

{% set tablet = {
        mode: 'crop',
        format: 'webp',
        width: 880,
        height: 'auto',
        quality: 100,
    } %}


{% set medium = {
        mode: 'crop',
        format: 'webp',
        width: 1000,
        height: 'auto',
        quality: 100,
    } %}

{% set large = {
        mode: 'crop',
        format: 'webp',
        width: 1440,
        height: 'auto',
        quality: 100,
    } %}

{% set full = {
        mode: 'crop',
        format: 'webp',
        width: 1560,
        height: 'auto',
        quality: 100,        
} %}

{% block content %}
	{% include '_includes/header' %}

	{% set heroImage = entry.heroImage.one() %}

	<div class="hero">
		<div class="hero__image">
			<picture>
				<source media="(min-width: 1560px)" srcset="{{ heroImage.url(full) }}" data-srcset="{{ heroImage.url(full) }}" type="image/webp">
				<source media="(min-width: 1560px)" srcset="{{ heroImage.url(full) }}" data-srcset="{{ heroImage.url(full) }}" type="image/jpeg">

				<source media="(min-width: 1440px)" srcset="{{ heroImage.url(large) }}" data-srcset="{{ heroImage.url(large) }}" type="image/webp">
				<source media="(min-width: 1440px)" srcset="{{ heroImage.url(large) }}" data-srcset="{{ heroImage.url(large) }}" type="image/jpeg">

				<source media="(min-width: 1044px)" srcset="{{ heroImage.url(medium) }}" data-srcset="{{ heroImage.url(medium) }}" type="image/webp">
				<source media="(min-width: 1044px)" srcset="{{ heroImage.url(medium) }}" data-srcset="{{ heroImage.url(medium) }}" type="image/jpeg">

				<source media="(min-width: 768px)" srcset="{{ heroImage.url(tablet) }}" data-srcset="{{ heroImage.url(tablet) }}" type="image/webp">
				<source media="(min-width: 768px)" srcset="{{ heroImage.url(tablet) }}" data-srcset="{{ heroImage.url(tablet) }}" type="image/jpeg">

				<source media="(min-width: 300px)" srcset="{{ heroImage.url(mobile) }}" data-srcset="{{ heroImage.url(mobile) }}" type="image/webp">
				<source media="(min-width: 300px)" srcset="{{ heroImage.url(mobile) }}" data-srcset="{{ heroImage.url(mobile) }}" type="image/jpeg">

				<img src="{{ heroImage.url }}" alt="Brandalp Hero Image">
			</picture>
		</div>
		<div class="hero__shadow"></div>
		<div class="hero__content">
			<h1 class="hero__title">{{ entry.heroText }}</h1>
		</div>
		<div class="hero__banner">
			<p class="banner__text">{{ entry.bannerText }}</p>
		</div>
	</div>


	<main class="main" id="main">
		<section class="section" id="location">
			<div class="container">
				<div class="row">
					<div class="gr-24">
						<h2 class="section__title">{{ entry.locationTitle }}</h2>
						<div class="section__wysiwyg">
							{{entry.locationText}}
						</div>
						<a href="{{ entry.locationLink }}" target="_blank" class="button">Google Maps &rarr;</a>
					</div>
					<div class="gr-24">

						{% set mobile = {
                            mode: 'crop',
                            format: 'webp',
                            width: 320,
                            quality: 100,
                            } %}

						{% set tablet = {
                            mode: 'crop',
                            format: 'webp',
                            width: 450,
                            quality: 100,
                            } %}

						{% set desktop = {
                            mode: 'crop',
                            format: 'webp',
                            width: 1020,
                            quality: 100,
                        } %}

						{% set locationImage = entry.locationImage.one() %}

						<div class="section__image">
							<picture>
								<source media="(min-width: 1680px)" srcset="{{ locationImage.url(desktop) }}" data-srcset="{{ locationImage.url(desktop) }}" type="image/webp">
								<source media="(min-width: 1680px)" srcset="{{ locationImage.url(desktop) }}" data-srcset="{{ locationImage.url(desktop) }}" type="image/jpeg">

								<source media="(min-width: 768px)" srcset="{{ locationImage.url(tablet) }}" data-srcset="{{ locationImage.url(tablet) }}" type="image/webp">
								<source media="(min-width: 768px)" srcset="{{ locationImage.url(tablet) }}" data-srcset="{{ locationImage.url(tablet) }}" type="image/jpeg">

								<source media="(min-width: 300px)" srcset="{{ locationImage.url(mobile) }}" data-srcset="{{ locationImage.url(mobile) }}" type="image/webp">
								<source media="(min-width: 300px)" srcset="{{ locationImage.url(mobile) }}" data-srcset="{{ locationImage.url(mobile) }}" type="image/jpeg">

								<img src="{{ locationImage.url }}" alt="Bild der Brandalp">
							</picture>
						</div>
					</div>
				</div>
			</div>
		</section>

		
		<section class="section foodSlider" id="food-and-drinks">
			<div class="container">
				<div class="row">
					<div class="gr-24">
						<h2 class="section__title">{{entry.mealsTitle}}</h2>
					</div>
				</div>
			</div>
			{% set sliderImages = entry.foodImages.all() %}

			<div class="container">
				<div class="row">
					<div class="gr-24">
						<div class="swiper">
							<div class="swiper-wrapper">
								{% for image in sliderImages %}
									<div class="swiper-slide">
										<div class="slider__image">
											<picture>
												<source media="(min-width: 1680px)" srcset="{{ image.url(desktop) }}" data-srcset="{{ image.url(desktop) }}" type="image/webp">
												<source media="(min-width: 1680px)" srcset="{{ image.url(desktop) }}" data-srcset="{{ image.url(desktop) }}" type="image/jpeg">

												<source media="(min-width: 768px)" srcset="{{ image.url(tablet) }}" data-srcset="{{ image.url(tablet) }}" type="image/webp">
												<source media="(min-width: 768px)" srcset="{{ image.url(tablet) }}" data-srcset="{{ image.url(tablet) }}" type="image/jpeg">

												<source media="(min-width: 300px)" srcset="{{ image.url(mobile) }}" data-srcset="{{ image.url(mobile) }}" type="image/webp">
												<source media="(min-width: 300px)" srcset="{{ image.url(mobile) }}" data-srcset="{{ image.url(mobile) }}" type="image/jpeg">

												<img src="{{image.url}}" alt="">
											</picture>
										</div>
									</div>
								{% endfor %}
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</div>

		</section>
		<section class="section" id="gallery"></section>
		<section class="section" id="partners"></section>
	</main>


	{% include '_includes/footer' %}
{% endblock %}
