{% extends '_layouts/master' %}
{% set bodyClass = 'home' %}

{% set preview = {
        mode: 'crop',
        format: 'webp',
        width: 768,
        height: 'auto',
        quality: 80,
    } %}

{% set mobile = {
        mode: 'crop',
        format: 'webp',
        width: 540,
        height: 'auto',
        quality: 100,
    } %}

{% set tablet = {
        mode: 'crop',
        format: 'webp',
        width: 880,
        height: 'auto',
        quality: 100,
    } %}


{% set medium = {
        mode: 'crop',
        format: 'webp',
        width: 1000,
        height: 'auto',
        quality: 100,
    } %}

{% set large = {
        mode: 'crop',
        format: 'webp',
        width: 1440,
        height: 'auto',
        quality: 100,
    } %}

{% set full = {
        mode: 'crop',
        format: 'webp',
        width: 1560,
        height: 'auto',
        quality: 100,        
} %}

{% block content %}
	{% include '_includes/header' with {mode: ''} %}

	{% set heroImage = entry.heroImage.one() %}

	<div class="hero">
		<img class="hero__image" alt="Brandalp Hero Image" 
        src="{{ heroImage.url(mobile) }}" 
        srcset="
            {{ heroImage.url(mobile) }} 300w, 
            {{ heroImage.url(tablet) }} 768w, 
            {{ heroImage.url(medium) }} 1044w, 
            {{ heroImage.url(large) }} 1440w, 
            {{ heroImage.url(full) }} 1560w ">

		<div class="hero__shadow"></div>
		<div class="hero__content">
			<h1 class="hero__title">{{ entry.heroText }}</h1>
		</div>
		<div class="hero__banner">
			<p class="banner__text">{{ entry.bannerText }}</p>
		</div>
	</div>


	<main class="main" id="main">
		{% include '_includes/location' %}

		{% include '_includes/openingHours' %}

		{% include '_includes/foodSlider' %}

		{% include '_includes/gallery' %}

		{% include '_includes/partners' %}
	</main>


	{% include '_includes/footer' %}
{% endblock %}
