{% set webp320 = {
	width: 408,
    height: 440,
    mode: 'crop',
    quality: 100,
    format: 'webp'
} %}

{% set jpeg320 = {
	width: 408,
    height: 440,
    mode: 'crop',
    quality: 100,
	format: 'jpeg'
} %}

{% set webp768 = {
    width: 640,
    height: 640,
    mode: 'crop',
    quality: 100,
    format: 'webp'
} %}

{% set jpeg768 = {
    width: 640,
    height: 640,
    mode: 'crop',
    quality: 100,
    format: 'jpeg'
} %}


{% set galleryElements = entry.galleryImages.all() %}

<div class="anchor" id="gallery"></div>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="gr-24">
				<h2 class="section__title">{{entry.galleryTitle}}</h2>
			</div>
		</div>
	</div>
	<div class="imagescroll" data-group="{{ entry.id }}">
		<div class="container">
			<div class="row">
				<div class="gr-24">
					<div class="imagescroll__wrapper">
						<div class="imagescroll__inner">
							{% for img in galleryElements %}
								<div class="imagescroll__item">
									<img src="{{ img.url(webp320) }}" width="{{ img.getWidth(webp320) }}" height="{{ img.getHeight(jpeg320) }}" class="scrollimage-image lazyload" alt="{{ img.alt }}" data-container="imagescroll-{{ loop.index }}" data-content="{{ img.alt }}" data-group="{{ loop.index }}" srcset="{{ img.url(webp320) }} 300w, {{ img.url(webp768) }} 1044w">
									<div class="imagescroll__legend--wrapper"></div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
