{% block header %}
	<header class="header {{ mode }}" id="header">
		<div class="header__wrapper">
			<div class="container">
				<div class="row ">
					<div class="gr-14 gr-6@small">
						<a href="{{ url('/') }}" class="header__slogan">Brand Alp</a>
					</div>
					<div class="gr-10 show hide@small">
						<div class="header__target">
							<div class="header__burger">
								<div class="line"></div>
								<div class="line"></div>
								<div class="line"></div>
							</div>
						</div>
					</div>
					<div class="gr-18 hide show@small">
						{% if mode == 'subsite' %}
							<div class="header__jumpNav">
								<a class="link" href="{{ url('/') }}#location">Standort</a>
								<a class="link" href="{{ url('/') }}#openingHours">Standort</a>
								<a class="link" href="{{ url('/') }}#food-and-drinks">Speisen & Getränke</a>
								<a class="link" href="{{ url('/') }}#gallery">Gallerie</a>
								<a class="link" href="{{ url('/') }}#partners">Partner</a>
							</div>
						{% else %}
							<div class="header__jumpNav">
								<a class="link" href="#location">Standort</a>
								<a class="link" href="#openingHours">Standort</a>
								<a class="link" href="#food-and-drinks">Speisen & Getränke</a>
								<a class="link" href="#gallery">Gallerie</a>
								<a class="link" href="#partners">Partner</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</header>

	{% if entry.type == 'home' %}
		{% include "_includes/nav" with {mode: ''} %}
	{% else %}
		{% include "_includes/nav" with {mode: 'subsite'} %}
	{% endif %}
{% endblock %}
