<nav class="nav" id="nav">
	<div class="nav__wrapper">
		<div class="container">
			<div class="row">
				<div class="gr-24">
					<div class="nav__primary">
						{% if mode == 'subsite' %}
							<a href="{{ url('/') }}#location" class="nav__link mobile">Standort</a>
							<a href="{{ url('/') }}#openingHours" class="nav__link mobile">Öffnungszeiten</a>
							<a href="{{ url('/') }}#food-and-drinks" class="nav__link mobile">Speisen & Getränke</a>
							<a href="{{ url('/') }}#gallery" class="nav__link mobile">Galerie</a>
							<a href="{{ url('/') }}#partners" class="nav__link mobile">Partner</a>
						{% else %}
							<a href="#location" class="nav__link mobile">Standort</a>
							<a href="#openingHours" class="nav__link mobile">Öffnungszeiten</a>
							<a href="#food-and-drinks" class="nav__link mobile">Speisen & Getränke</a>
							<a href="#gallery" class="nav__link mobile">Galerie</a>
							<a href="#partners" class="nav__link mobile">Partner</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
